* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  color:#dd0000;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #ffcc00;
  color: #fff;
}

.button:hover {
  background: #dd0000;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #ffcc00;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 100vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 55vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Main Content CSS */
/* Available at: https://i.natgeofe.com/n/b234ec7d-a988-4b75-9e65-749ddcbea7a0/citylife_berlin_2B4H3T1_web.jpg?w=1440&h=960 [Access Date: 16/11/24*/
.main {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgb(17, 17, 17) 100%
    ),
    url("static/berlin.avif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
}

.main__content {
  color: #fff;
  width: 100%;
}

.main__content h1 {
  font-size: 4rem;
  color: #ffcc00;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.main__btn {
  font-size: 1rem;
  background: #dd0000;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #000000;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

#main__img {
  height: 80%;
  width: 80%;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* About Section */
.services {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.services h1 {
  color: #dd0000;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.services p {
  color: #fff;
  font-size: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

@media screen and (max-width: 960px) {
  .services {
    height: 3700px;
  }

  .services h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .services {
    height: 2000px;
  }

  .services h1 {
    font-size: 1.2rem;
  }
}


/* History Page */

.content {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  height: 300vh;
  color: #fff;
}
.content h2{
  color: #ffcc00;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.content section{
  color: #fff;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.content h1 {
  color: #f8b600;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.content__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content__card {
  margin: 1rem;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(10, 10, 10, 0.6) 100%
  ),
  url("static/Hitler.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
}

.content__card:before {
  opacity: 0.2;
}

.content__card:nth-child(2) {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(10, 10, 10, 0.6) 100%
  ),
  url("static/einstein.jpg");
}

.content__card:before {
  opacity: 0.2;
}

.content__card:nth-child(3) {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(10, 10, 10, 0.6) 100%
  ),
  url("static/Beethoven.jpg");
}

.content__card:before {
  opacity: 0.2;
}

.content__card:nth-child(4) {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(10, 10, 10, 0.6) 100%
  ),
  url("static/Karl_Marx.jpg");
}

.content__card h2 {
  position: absolute;
  top: 250px;
  left: 0px;
}

.content__card p {
  position: absolute;
  top: 300px;
  left: 30px;
}

.content__card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #800000;
  position: absolute;
  top: 340px;
  left: 30px;
  font-size: 1rem;
}
.content__card button:hover {
  cursor: pointer;
}

.content__card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .content {
    height: 3700px;
  }

  .content h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .content {
    height: 2000px;
  }

  .content h1 {
    font-size: 1.2rem;
  }

  .content__card {
    width: 300px;
  }
}

/* Culture Page */
.league {
  background-color:  #ffffffc4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 100px;
}

.league h1 {
  color: #000000;
  font-size: 4rem;
  margin: 50px;
}

.league section {
  margin: 80px;
}

.league h2 {
  color: #000000;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 1rem;
}
.league img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
  display: flex;
}
.league p {
  color: #000000;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 2rem;
  display: flex;
}

@media screen and (max-width: 960px) {
  .league {
    height: auto;
    margin: 0px;
  }

  .league section {
    margin: 20px
  }

  .league h1 {
    font-size: 3rem;
  }
  .league h2 {
    font-size: 2rem;
    margin-top: 1.2rem;
  }
  .league p {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
}
/* Tourism page */
.coffee {
  background-color:  #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 270vh;
}

.coffee h1 {
  color: #ffcc00;
  font-size: 4rem;
  margin: 50px;
}


.help {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.help section.apt {
  margin: 1rem;
  height: 525px;
  width: 1000px;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ),
  url("static/anorLondo.jpeg");
  background-size: cover;
  position: relative;
  color: #fff;
}

.help section.apt:before {
  opacity: 0.2;
}

.help section.apt:nth-child(2) {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ),
  url("static/berlin.avif");
}

.help section.apt:before {
  opacity: 0.2;
}

.help section.apt:nth-child(3) {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ),
  url("static/gate.jpg");
}

.help section.apt h3 {
  position: absolute;
  top: 250px;
  left: 30px;
  font-size: 2rem;
}

.help section.apt p {
  position: absolute;
  top: 300px;
  left: 30px;
}

.coffee h2 {
  color: #fff;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 1rem;
}
.coffee img {
  display: block;
  margin-left: auto;
  margin-right: 1rem;
  width: 50%;
  margin-bottom: 20px;
  display: flex;
}
.coffee p {
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 2rem;
  display: flex;
  margin-top: 1rem;
  margin-left: 25px;
  margin-right: 25px
}

@media screen and (max-width: 960px) {
  .coffee {
    height: auto;
    margin: 0px;
  }

  .coffee section {
    margin: 20px
  }

  .coffee h1 {
    font-size: 3rem;
  }
  .coffee h2 {
    font-size: 2rem;
    margin-top: 1.2rem;
  }
  .coffee p {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
  .help section.apt {
    width: 450px;
  }
}

.porsche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200vh;
}

.porsche h1 {
  color: #ffcc00;
  font-size: 4rem;
  margin: 50px;
}
.porsche table{
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.porsche table, .porsche th, .porsche td{
  border:3px solid rgb(56, 47, 25);
  color: #FFFFFF;
  font-family: Arial;
  text-align:center;
  background-color: rgba(56, 56, 56, 0.75);
  }
  
.porsche img {
  width: 150px;
  margin: 10px;
}
.porsche th{
  font-size: 2rem;
  margin: 20px;
}
.porsche td{
  font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
  .porsche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
  }
  
  .porsche h1 {
    font-size: 2rem;
    margin: 30px;
  }
  .porsche table{
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }
    
  .porsche img {
    width: 100px;
    margin: 10px;
  }
  .porsche th{
    font-size: 1.5rem;
    margin: 20px;
  }
  .porsche td{
    font-size: 1rem;
  }
}